{{#if (isFullControl me)}}
<div class="d-flex justify-content-end">
  <a class="btn btn-primary mb-4" href="/designs/new" role="button">
    <img src="/images/document_add.svg" class="image-default" />
  </a>
</div>
{{/if}}

{{#each designs}}
<div class="d-flex mb-5">
  <div class="w-25 mr-2">
    <img src="{{ getValueFromDoc this 'file' }}" class="w-100">
  </div>
  <table class="table designs-table">
    <tbody>
      <tr>
        <th>
          Title Heading
        </th>
        <td>
          {{ getValueFromDoc this 'titleHeading' }}
        </td>
      </tr>
      <tr>
        <th>
          Title
        </th>
        <td>
          {{ getValueFromDoc this 'title' }}
        </td>
      </tr>
      <tr>
        <th>
          Description Heading
        </th>
        <td>
          {{ getValueFromDoc this 'descriptionHeading' }}
        </td>
      </tr>
      <tr>
        <th>
          Description
        </th>
        <td>
          {{ getValueFromDoc this 'description' }}
        </td>
      </tr>
      <tr>
        <th>
          Category
        </th>
        <td>
          {{ getValueFromDoc this 'category' 'name' }}
        </td>
      </tr>
      <tr>
        <th>
          BaseColor
        </th>
        <td>
          <div style="background-color: {{ getValueFromDoc this 'baseColor' }}" class="border base-color-preview">
            {{!-- {{ getValueFromDoc this 'baseColor' }} --}}
          </div>
        </td>
      </tr>
      {{#if (isFullControl ../me)}}
      <tr>
        <th>
          Control
        </th>
        <td>
          <a class="btn btn-primary" href="/designs/{{ getValueFromDoc this '_id' }}" role="button">
            <img src="/images/pencil.svg" class="image-small" title="edit">
          </a>
          <form action="/designs/{{ getValueFromDoc this '_id' }}?_method=DELETE" method="post" class="d-inline-block">
            <button class="btn btn-danger" role="button">
              <img src="/images/trash.svg" class="image-small" title="delete">
            </button>
          </form>
        </td>
      </tr>
      {{/if}}
    </tbody>
  </table>
</div>
{{/each}}