<form action="/designer?_method=PUT" method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label for="name">Name</label>
    <input {{#if (isBrowsingControl me) }} readonly {{/if}} type="text" class="form-control" id="name" name="name" placeholder="Name" value="{{ defaultTo (getValueFromDoc designer 'name') name }}">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input {{#if (isBrowsingControl me) }} readonly {{/if}} type="text" class="form-control" id="email" name="email" placeholder="Email" value="{{ defaultTo (getValueFromDoc designer 'email') email }}">
  </div>
  <div class="form-group">
    <label for="descriptionHeading">Description Heading</label>
    <input {{#if (isBrowsingControl me) }} readonly {{/if}} type="text" class="form-control" id="descriptionHeading" name="descriptionHeading" placeholder="Description Heading" value="{{ defaultTo (getValueFromDoc designer 'descriptionHeading') descriptionHeading }}">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <input {{#if (isBrowsingControl me) }} readonly {{/if}} type="text" class="form-control" id="description" name="description" placeholder="Description" value="{{ defaultTo (getValueFromDoc designer 'description') description }}">
  </div>
  {{#if (isFullControl me) }}
  <div class="form-group">
    <label for="file">New Image</label>
    <input type="file" class="form-control-file" id="file" name="file" accept="image/*">
    {{#each validationErrors.originalname}}
      <div class="invalid-feedback d-block">
        {{ this }}
      </div>
    {{/each}}
    {{#each validationErrors.size}}
      <div class="invalid-feedback d-block">
        {{ this }}
      </div>
    {{/each}}
  </div>
  {{/if}}
  <div class="form-group current-image-group">
    <label class="d-block">Current Image</label>
    <img class="current-image-group-image" src="{{ getValueFromDoc designer 'file' }}" />
  </div>
  <div class="form-group">
    <label for="baseColor" class="form-label">Base Color</label> 
    <input {{#if (isBrowsingControl me) }} readonly {{/if}} type="color" class="form-control form-control-color" id="baseColor" name="baseColor"  value="{{ defaultTo (getValueFromDoc designer 'baseColor') baseColor }}">
  </div>

  {{#if (isFullControl me) }}
    <button type="submit" class="btn btn-primary d-block ml-auto">Submit</button>
  {{/if}}
</form>
